<div class="row">
  <div class="span6 offset3">

    <%= form_for @comment do |f| %>
      <%= f.label :body %>:
      <%= f.text_field :body %>
      <%= f.submit "Create New Topic", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>