- provide(:title, "Kick-It")
div
  h1 Welcome

div
  = link_to 'Create new Kick' , new_topic_path

div.topic-read
  ul.thumbnails
   - @topics.each do |topic|
    li.span4 
      = topic.title 
      span.link 
	      -if current_user && current_user.mail == topic.created_by
	      	= link_to "remove", topic, method: :delete, data: { confirm: "You sure?" } 
	      	= link_to "edit", edit_topic_path(id: topic.title)
      = link_to image_tag(topic.image) , topic_sub_topics_path(topic_id: topic.title) , class: "thumbnail"
      
