<% provide(:title, 'Kick-It') %>
<div>
	<h1>Welcome</h1>
</div>	

<div><%= link_to 'Create New Topic', new_topic_path %></div>
<div class = "topic-read">
	<ul class = "thumbnails">
		<% @topics.each do |topic|%>
		 	<li class="span4"><%= topic.title %><a href= <%= topic_subtopics_path(topic_id: topic.title) %> class="thumbnail">
	    	<%= image_tag topic.image %>
	    </a></li>
    <% end %>
  </ul>    
</div>

