<footer class="footer">
  <small>
    <a href="http://railstutorial.org">Kick-it</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.ftbpro.com/">FTBpro</a></li>
    </ul>
  </nav>
  <%= debug(params) if Rails.env.development? %>
</footer>
